
/* header section */

.header {
	background-color: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo {
	padding-left: 20px;
	padding-right: 20px;
}

.image__logo {
	height: 53.6px;
	width: 150px;
}

.nav {
	text-align: left;
}

.nav__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	gap: 20px;
}

.nav__link {
	display: inline-block;
	height: 100px;
	line-height: 100px;
	padding: 0 30px;
	color: #fff;
	text-decoration: none;
}

/* login section */

.login__form {
	display: flex;
  flex-direction: column;
  align-items: center;
	margin-left: auto;
	padding-right: 5%;
}

.login__icon {
	height: 40px;
	width: 40px;
	margin: 5px;
}

.login__text {
	margin: 4px 0 0 0;
	color: #fff;
	font-size: smaller;
	text-align: center;
}

/* main section */

.container {
	margin-top: 8%;
	margin-bottom: 5%;
	margin-left: 7%;
	margin-right: 7%;
}

.text {
	margin: 0;
}

/* footer section */

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	height: 100px;
	}

.copyright {
	color: #fff;
	font-size: small;
}